/* CUSTOM PROPS */
:root {

}


/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 0;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 0.8125rem;
  line-height: 153.846%;
  letter-spacing: 0.00763em;
  background-color: #ecf2f8;
  color: #6e8098;
}

img {
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* SHARE WIDGET */
.share-widget {
  position: relative;
  z-index: 1;
}

.share-widget__toggler {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: #ecf2f8;
  color: #6E8098;
  text-align: center;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.share-widget--open .share-widget__toggler {
  background-color: #6e8098;
  color: #fff;
}

.share-widget__share-icon {
  margin: auto;
}

.share-widget__inner {
  display: none;
}

.share-widget--open .share-widget__inner {
  position: absolute;
  z-index: 1;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  min-width: 248px;
  padding: 18px 36px;
  border-radius: 10px;
  background-color: #48556a;
  filter: drop-shadow(0px 10px 10px rgba(201, 213, 225, 0.50));
}

.share-widget--open .share-widget__inner::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 12px solid #48556a;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  background-color: transparent;
  filter: drop-shadow(0px 10px 10px rgba(201, 213, 225, 0.50));
}

.share-widget__label {
  margin-right: 20px;
  color: #9daec2;
  letter-spacing: 0.3125em;
  text-transform: uppercase;
}

.share-widget__socials {
  flex-shrink: 0;
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 0;
  list-style: none;
}

.share-widget__socials-link {
  text-decoration: none;
}



/* CARD */
.card {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  max-width: 45.625rem;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.50);
}

.card__picture {
  flex-shrink: 0;
}

.card__img {
  width: 285px;
  height: 100%;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

.card__body {
  padding: 32px 40px;
}

.card__heading {
  margin-bottom: 12px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.01563em;
  color: #48556a;
}

.card__text {
  margin-bottom: 20px;
}

.card__meta {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card__author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card__author-date {
  flex-grow: 1;
}

.card__author-name {
  color: #48556a;
  font-weight: bold;
}

.card__date {
  color: #9daec2;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

/* 992px */
@media only screen and (max-width: 62em) {
  .share-widget--open {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 32px;
    padding: 16px 32px;
    border-radius: 0 0 10px 0;
    background-color: #48556a;
  }

  .share-widget__toggler {
    flex-shrink: 0;
    order: 1;
  }

  .share-widget--open .share-widget__inner {
    position: static;
    width: 100%;
    min-width: auto;
    padding: 0;
    border-radius: 0;
    transform: none;
    filter: none;
  }

  .share-widget--open .share-widget__inner::after {
    display: none;
  }

  .card__body {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 36px 32px 20px;
  }

  .card__meta {
    margin-top: auto;
  }
}

/* 640px */
@media only screen and (max-width: 40em) {
  .share-widget--open {
    border-radius: 0 0 10px 10px;
  }

  .card {
    flex-direction: column;
  }

  .card__img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }

  .card__heading {
    font-size: 1rem;
    line-height: 1.5;
  }

  .card__text {
    margin-bottom: 32px;
  }
}

/* 360px */
@media only screen and (max-width: 22.5em) {
  .share-widget--open .share-widget__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .share-widget__label {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
